.env
.env.*
!.env.example
shortcuts.pdf
.vscode

bin/
obj/

UserService/appsettings.Development.json
ProductService/appsettings.Development.json
OrderService/appsettings.Development.json
PaymentService/appsettings.Development.json
